VITE_API_URL=http://localhost:8080/api


SPRING_DATASOURCE_URL=jdbc:postgresql://db.khsepbeaxlolmsaauscq.supabase.co:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=YOUR_PASSWORD



