VITE_API_URL=http://localhost:8080/api

SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.khsepbeaxlolmsaauscq
SPRING_DATASOURCE_PASSWORD=YOUR_PASSWORD_HERE
